<app-navbar></app-navbar>
<div class="container main-container">
    <section class="content animated fadeIn fast">
        <div class="card content animated fadeIn">
            <div class="card-header bg-primary text-white">
                <h4>Socios con deuda</h4>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Socio</label>
                                <input uppercase (keyup)="buscarPorSocio($event)" type="text" class="form-control" id="buscarSocio" aria-describedby="emailHelp" style="text-transform: uppercase;" placeholder="Busqueda por usuario">
                                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                    else.</small> -->
                            </div>
                        </div>
                        <div class="col-md-4 ml-auto">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Código</label>
                                <input uppercase (keyup)="buscarPorCodigo($event)" type="text" class="form-control" id="buscarCodigo" aria-describedby="emailHelp" placeholder="Busqueda por código">
                                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                    else.</small> -->
                            </div>
                        </div>
                        <div class="col-md-4 ml-auto">
                            <div class="form-group">
                                <label for="buscarEstado">Estado</label>
                                <select (change)="buscarPorEstado($event)" class="form-control">
                                    <option value="">.: TODOS :.</option>
                                    <option value="4">CREADO</option>
                                    <option value="5">PROCESO</option>
                                    <option value="6">FINALIZADO</option>
                                </select>
                                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                    else.</small> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 ml-auto">
                            <div class="form-group">
                                <!-- <button (click)="btnAgregar()" id="openModalButton" data-toggle="modal"
                                    data-target="#myModal" class="btn btn-primary btn-block">Nuevo convenio</button> -->
                            </div>
                        </div>
                        <div class="col-md-4 ml-auto">
                            <div class="form-group">
                                <button (click)="exportarPdf()" id="btn_pdf" class="btn btn-danger btn-block">Descargar
                                    PDF</button>
                            </div>
                        </div>
                        <div class="col-md-4 ml-auto">
                            <div class="form-group">
                                <button (click)="exportarExcel()" id="btn_excel" class="btn btn-success btn-block">Descargar EXCEL</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card content animated fadeIn" style="margin-top: 20px">
            <div class="card-header bg-primary text-white">
                <h4>Listado de convenios</h4>
            </div>
            <div class="card-body" #TABLE>
                <table #table id="tabla_usuarios" class="table table-bordered table-condensed table-hover responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="text-center" width="5%">Nº</th>
                            <th class="text-center" width="10%">Código</th>
                            <th class="text-center" width="20%">Socio</th>
                            <th class="text-center" width="10%">Servicio</th>
                            <th class="text-center" width="10%">N° de cuota</th>
                            <th class="text-center" width="8%">Monto</th>
                            <th class="text-center" width="8%">Estado</th>
                            <th class="text-center" width="8%">Acción</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr *ngFor="let convenio of convenios; let i = index">
                            <td>{{ i+1 }}</td>
                            <td>{{ convenio.codigo }}</td>
                            <td>{{ convenio.socio }}</td>
                            <td>{{ convenio.servicio }}</td>
                            <td>{{ convenio.n_cuota }}</td>
                            <td>S/. {{ convenio.monto }}</td>
                            <td>
                                <div class="form-group">
                                    <span class="badge badge-danger">VENCIDO</span>
                                </div>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button (click)="btnDeuda(convenio.id_convenio)" class="btn"><i
                                            class="fa fa-bullhorn fa-2x"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <div class="modal fade" id="deuda" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="card text-center">
                    <div class="card-header">
                        Enviar notificación
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Ingrese el correo del socio</h5>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">@</span>
                            </div>
                            <input id="correo" readonly type="text" class="form-control" placeholder="Correo electronico" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <a (click)="enviarCorreo()" class="btn btn-success">Enviar correo</a>
                    </div>
                    <div class="card-footer text-muted">
                        Cuota vencida
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>